@charset "UTF-8";
/*
    em HTML é id/div = em CSS é # (só um elemento)
    em HTML é class  = em CSS é . (pode vários elementos)
*/

body{
    background-color: #8351e0ad;
    
}
h1{
    color: #311E54;
}
h1#principal{
    text-align: center;
    background-color:#5911dfa2;
    color: #201336;

}
h2{
    color: #572fa3;
}

.basico{
    color:#572fa3;
    font-weight: bold;
}
.intermediario{
    color:#2f3ba3;
}
.avancado{
    color: #992fa3;
}

.destaque{
    background-color: rgba(223, 226, 28, 0.836);
}